# the executable
jsim.jar

# the other important jsim modules
nominal.jsim
stdcell.jsim
8clocks.jsim

# the other important bsim modules
beta.uasm

# idk what this is but ok
application.properties
jsimtemp

# backup files
*.bak
